html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-size: 16px;
	font-weight: bolder;
	}
a {font-size: 32px;
	}
section{width: 400px;
		height: 200px;
		margin: 20px 0px;
		float:left;
	}
.box {float: left;
	position:relative;
	width: 72px;
	height:72px;
	margin: 25px; 
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
}
.arrow {position:absolute;
	top: -40px;
	right: -40px;
	width: 55px;
	height: 55px;
}
#redbox{ 	
	color: white;
	background: red;
	margin-left: 0px;
	}
#orangebox{ 	
	color: white;
	background: orange;
	}
#yellowbox{ 	
	color: white;
	background: yellow;
	}
#greenbox{ 	
	color: white;
	background: green;
	margin-left: 0px;
	}
#bluebox{ 	
	color: white;
	background: blue;
	}
#violetbox{ 	
	color: white;
	background: violet;
	}