html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-size: 16px;
	font-weight: bold;
	}
a {font-size: 32px;
	font-family: 'Permanent Marker', cursive;
	}
section{width: 400px;
		height: 200px;
		margin: 20px 0px;
		float:left;
	}
div:nth-child(4) {clear: left;}
/*.box:nth-child(3n) {clear: left;}*/
.box {float: left;
	position:relative;
	width: 72px;
	height:72px;
	margin: 25px; 
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
	color: white;
	font-family: 'Cinzel', serif;
}
.arrow {position:absolute;
	top: -40px;
	right: -40px;
	width: 55px;
	height: 55px;
}
#redbox{ 	
	background: red;
	/*margin-left: 0px;*/
	}
#orangebox{ 	
	background: orange;
	}
#yellowbox{ 	
	background: yellow;
	}
#greenbox{ 	
	background: green;
	/*margin-left: 0px;*/
	}
#bluebox{ 	
	background: blue;
	}
#violetbox{ 	
	background: violet;
	}