body{background-color: beige;
}
.page{
	width: 415px;
	height:950px;
	text-align: center;
	border: solid #FF1493;
	padding:0;
}
.top-container{
	width: 413px;
	height: 475px;
	border:solid;
}
.main-phrase{
	font-size: 32px;
	font-family: snell roundhand;
	color:purple;
}
.highlights{
	height: 40px;
	width:auto;
	margin:0;
	border: solid 5px;
	padding:5px;
	background-color:#FF1493;
	color:white;
}
.top-market-images{
	margin-bottom: 5px;
}
.address{
	color: #FF1493;
	font-size: 16px;
}
header{
	height: 30px;
}
.main-paragraph{
	font-size: 12px;
	font-family: serif;
	font-weight: bolder;
	text-align: left;
	padding: 25px;
}
.business-links{
	background-color: orange;
	color: white;
	font-size: 8px;
	height: 40px;
	/*text-align: left;*/
	padding-top: 5px;
	padding-left: 15px;


}
