body{background-color: beige;
}
.page{
	width: 415px;
	height:950px;
	text-align: center;
	border: solid #FF1493;
	padding:0;
}
.top-container{
	width: 410px;
	height: 475px;
	border:solid;
}
.main-phrase{
	font-size: 32px;
	font-family: snell roundhand;
	color:purple;
}
.highlights{
	height: 40px;
	width:auto;
	margin:0;
	border: solid 5px;
	padding:5px;
	background-color:#FF1493;
	color:white;
}
/*.bottom-margin-zero{
	margin-bottom: 0;
	margin-top: 5px;
}*/
.top-market-images{
	margin-bottom: 5px;
}
.address{
	color: #FF1493;
	font-size: 16px;
}
