/*body{background-color: grey;}*/
.box{
	height: 100px;
	width: 200px;
	float: left;
	border: solid black;
}
@media screen and (max-width:550px) {
    body {
        background-color: red;
    }
    ul li {
    	display: inline;
    	font-size: 2rem;
    	text-align: center;
    	border: solid black;
    }
}
@media screen and (min-width:551px) and (max-width:759px) {
    body {
        background-color: orange;
    }
}
@media screen and (min-width:551px){    
     nav{ width: 100px;
     	height: 400px;
     	float:left;
     	border: solid black;
	}
}
@media screen and (min-width:760px) and (max-width:959px) {
    body {
        background-color: yellow;
    }
}
@media screen and (min-width:960px) and (max-width:1200px) {
	body {
        background-color: green;
    }
}
.redb{
	background-color: red;
}
.orab{
	background-color: orange;
}
.yelb{
	background-color: yellow;
}
.greb{
	background-color: green;
}
.blub{
	background-color: blue;
}
@media screen and (min-width: 500px){
	body{}
}